* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #010601;
    color: white;
}

/* Layout */
.container {
    display: flex;
    height 40;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: rgb(10, 10, 10);
    padding: 20px;
}

.logo {
    color: #01f456;
    margin-bottom: 50px;
}

.sidebar ul li {
    list-style: none;
    margin: 20px 0;
    cursor: pointer;
    color: #b3b3b3;
}

.sidebar ul li:hover {
    color: white;
}

/* Main Section */
.main {
    flex: 200;
    padding: 20px;
}

.playlist {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #013f12;
    padding: 15px;
    width: 250px;
    border-radius: 50px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card p {
    margin-top: 10px;
}

/* Bottom Player */
.player {
    height: 10vh;
    background-color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-top: 1px solid #d9d4d4;
}

.controls {
    font-size: 20px;
}