*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  height: 60px;
  width: 100%;
  background-color: #0f1111;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.logo{
  height: 50px;
  width: 100px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}