* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    position: absolute;
    width: 100%;
    color: white;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 16px;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),
                url("https://restaurantindia.s3.ap-south-1.amazonaws.com/s3fs-public/2023-02/zomato-infinity-dining-916x516-1_11zon.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 200px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.search-box input {
    width: 50%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
   
}

           /* Locations */
.locations {
    padding: 60px;
    text-align: center;
    background-color: rgb(131, 124, 124);
}

.locations h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.location-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,5);
}

/* Footer */
footer {
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}